* {
  margin: 0 auto;
  box-sizing: border-box;
}

.charts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  padding: 2%;
}

.chart > svg {
  width: 100%;
  height: 100%;
}
